{
    "C_Cpp.intelliSenseEngine": "default",
    "idf.adapterTargetName": "esp32",
    "idf.customExtraPaths": "/home/alex/.espressif/tools/xtensa-esp-elf-gdb/11.2_20220823/xtensa-esp-elf-gdb/bin:/home/alex/.espressif/tools/riscv32-esp-elf-gdb/11.2_20220823/riscv32-esp-elf-gdb/bin:/home/alex/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/bin:/home/alex/.espressif/tools/xtensa-esp32s2-elf/esp-2022r1-11.2.0/xtensa-esp32s2-elf/bin:/home/alex/.espressif/tools/xtensa-esp32s3-elf/esp-2022r1-11.2.0/xtensa-esp32s3-elf/bin:/home/alex/.espressif/tools/riscv32-esp-elf/esp-2022r1-11.2.0/riscv32-esp-elf/bin:/home/alex/.espressif/tools/esp32ulp-elf/2.35_20220830/esp32ulp-elf/bin:/home/alex/.espressif/tools/openocd-esp32/v0.11.0-esp32-20221026/openocd-esp32/bin:/home/alex/.espressif/tools/esp-rom-elfs/20220823",
    "idf.customExtraVars": {
        "OPENOCD_SCRIPTS": "/home/alex/.espressif/tools/openocd-esp32/v0.11.0-esp32-20221026/openocd-esp32/share/openocd/scripts",
        "ESP_ROM_ELF_DIR": "/home/alex/.espressif/tools/esp-rom-elfs/20220823/"
    },
    "idf.espIdfPath": "/home/alex/esp/v5.0.2/esp-idf",
    "idf.openOcdConfigs": [
        "interface/ftdi/esp32_devkitj_v1.cfg",
        "target/esp32.cfg"
    ],
    "idf.port": "/dev/ttyUSB0",
    "idf.pythonBinPath": "/home/alex/.espressif/python_env/idf5.0_py3.10_env/bin/python",
    "idf.toolsPath": "/home/alex/.espressif",
    "cmake.configureOnOpen": false,
    "idf.flashType": "UART",
    "files.associations": {
        "stdio.h": "c",
        "ratio": "c",
        "system_error": "c",
        "array": "c",
        "functional": "c",
        "tuple": "c",
        "type_traits": "c",
        "utility": "c"
    }
}
